/****************************************
*                                       *
*                 Navbar                *
*                                       *
*****************************************/

#link-ftc {
    text-decoration: underline;
}

/****************************************
*                                       *
*                 Header                *
*                                       *
*****************************************/

header {
    background-color: var(--negro-fondo);
}

header p {
    color: var(--gris);
    margin-left: 0;
}

header .centre {
    background-image: url("../img/logos/ftc/ftc.png");
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 690px) {
    header .centre {
        padding-bottom: 25vw;
        background-position: center bottom;
        background-size: 25vw auto;
    }
}

/****************************************
*                                       *
*               Tutorials               *
*                                       *
*****************************************/

.resource-card {
    width: 28%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    box-sizing: border-box;
    margin: 1.5rem 1rem;
}

.type-description {
    opacity: 0.5;
}

.resource-card a {
    font-size: 0.9rem;
}

.resource-card p {
    font-size: 0.8rem;
}

#ftc-tutorials .flexbox {
    justify-content: left;
}

@media screen and (max-width: 800px) {
    .resource-card {
        width: 40%;
    }
}

@media screen and (max-width: 695px) {

    .resource-card {
        width: 300px;
    }

    #ftc-tutorials .flexbox {
        justify-content: center;
    }
}
