/****************************************
*                                       *
*                Header                 *
*                                       *
*****************************************/

header {
  background-color: var(--negro);
}

header h1 {
  color: var(--gris);
  font-weight: 400;
  margin-bottom: 2rem;
}

header p {
  color: var(--blanco-texto);
}

#legacy {
  color: var(--amarillo);
}

#link-our-team {
  text-decoration: underline;
}

/****************************************
*                                       *
*                Galeria                *
*                                       *
*****************************************/

.fotito {
  width: 23%;
  min-width: 230px;
  align-self: stretch;
  margin: 1rem 0.5rem;
}

.fotito h3, .fotito p {
  color: var(--negro-texto);
}

.fotito h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.fotito img {
  box-shadow: 0 0 3px #333;
  border-radius: 7px;
}

.fotito p {
  font-weight: 300;
  text-align: center;
}

#estudiantes, #mentores, #coaches {
  border-top: 1rem solid var(--amarillo);
  background-color: var(--negro-fondo);
}

#mentores h2, #coaches h2, #estudiantes h2 {
  color: var(--amarillo);
  text-align: left;
  font-weight: 400;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.fotito h3 {
  color: var(--amarillo);
}

.fotito p {
  color: var(--gris);
}