/****************************************
*                                       *
*                 Navbar                *
*                                       *
*****************************************/

#link-ftc {
    text-decoration: underline;
}

/****************************************
*                                       *
*                 Header                *
*                                       *
*****************************************/

header {
    background-color: var(--negro-fondo);
}

header p {
    color: var(--gris);
    margin-left: 0;
}

header .centre {
    background-image: url("../img/logos/ftc/ftc.png");
    background-position: right center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 690px) {
    header .centre {
        padding-bottom: 25vw;
        background-position: center bottom;
        background-size: 25vw auto;
    }
}

/****************************************
*                                       *
*           Naubots y Hardlus           *
*                                       *
*****************************************/

.ftc-teams-links {
    display: grid;
    grid-template-columns: 70% 1fr;
    column-gap: 1rem;
    margin-bottom: 3.5rem;
}

#equipos-ftc {
    background-color: var(--negro-fondo);
    border-top: 0.3rem solid var(--amarillo);
}

#equipos-ftc h2 {
    color: var(--amarillo);
    font-size: clamp(2rem, 10vw, 5.5rem);
    font-weight: 700;
    text-align: left;
}

#equipos-ftc .ftc-btns {
    justify-content: right;
}

#equipos-ftc .flexbox > img {
    width: 50%;
    min-width: 300px;
}
  
a.link-ftc {
    background-color: var(--blanco-texto);
    display: block;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 1rem;
    opacity: 0.85;
}
  
a.link-ftc:hover {
    opacity: 1;
}

@media screen and (max-width: 1016px) {

    .ftc-teams-links {
        grid-template-columns: 1fr 1fr;
    }

    a.link-ftc {
        width: 35vw;
    }
}

/****************************************
*                                       *
*              Like a girl              *
*                                       *
*****************************************/

#lag {
    background-size: cover;
    background-image: url("../img/ftc/poster_lag.png");
    box-sizing: border-box;
    height: 56.25vw;
}

#lag h2 {
    color: #000;
    font-size: clamp(2.5rem, 10vw, 7rem);
}

#lag span {
    color: var(--naranja-naubots);
}

@media screen and (max-width: 468px) {
    #lag {
        padding: 1rem 0;
    }
}

/****************************************
*                                       *
*            Inspire Exchange           *
*                                       *
*****************************************/

.red-container {
    background-color: var(--rojo-hardlus);
    padding: 1rem;
}

.red-container p {
    color: var(--blanco-texto);
}

#inspire-exchange {
    background-color: #000;
}

#inspire-exchange h2 {
    color: var(--gris-hardlus);
    font-size: clamp(2.5rem, 10vw, 5rem);
    text-align: left;
}

#inspire-exchange .centre p {
    color: var(--gris-hardlus);
}
