/**************************************
*                                     *
*                Navbar               *
*                                     *
***************************************/

nav.sin-fondo {
  background-color: rgba(4, 0, 0, 0);
}

#checkbox-menu:checked ~ #link-logo {
  background-color: var(--negro);
}

/**************************************
*                                     *
*     Header con fotos del equipo     *
*                                     *
***************************************/

#fotos-equipo {
  height: 100vh;
  max-height: 100vw;
  padding: 0;
  position: sticky;
  top: 0;
  z-index: -5;
}

.foto-pantalla {
  background-size: cover;
  width: 100%;
  height: 100vh;
  max-height: 100vw;
  position: absolute;
}

#container-logo {
  background-color: rgba(0, 0, 0, 0.25);
}

#foto-porras {
  background-image: url(../img/landing-page/porra-gradas.jpg);
  animation-name: esconder-foto;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

#foto-gradas {
  background-image: url(../img/landing-page/gradas_2.jpg);
  animation-duration: 8s;
  animation-name: esconder-foto;
  animation-iteration-count: infinite;
}

#foto-monterrey {
  background-image: url(../img/landing-page/regional-monterrey.jpg);
  background-position: bottom center;
  opacity: 0;
  animation-iteration-count: infinite;
}

#foto-monterrey-2023 {
  background-image: url(../img/landing-page/gradas_2.jpg);
  opacity: 0;
  animation-name: esconder-foto;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes esconder-foto {
  0% { opacity: 0; }
  45% { opacity: 0; }
  55% { opacity: 1; }
  100% { opacity: 1; }
}

#logo-grande {
  display: block;
  width: 60%;
  margin: 0 auto;
}

#container-logo .centre {
  margin-top: 15vh;
}

/**************************************
*                                     *
*              Abstract               *
*                                     *
***************************************/

#abstract {
  background-image: url(../img/landing-page/primo-taller.jpg);
  background-size: cover;
  background-position-y: 50%;
}

.abstract-text {
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 3px #000;
  width: 40%;
  min-width: 300px;
  padding: 2rem 1.7rem;
  margin-right: 0;
  margin-left: auto;
}

.abstract-text h1 {
  color: var(--negro);
  font-weight: 500;
  margin-bottom: 1rem;
}

@media screen and (max-width: 860px) {
  .abstract-text {
    width: 90%;
    margin: 30vh auto 0;
  }

  #abstract {
    background-position-x: 30%;
  }
}

/**************************************
*                                     *
*              About us               *
*                                     *
***************************************/

.card {
  width: 25%;
  min-width: 220px;
  align-self: flex-start;
  margin: 1.5rem 1rem;
}

#about-us {
  background-color: var(--negro-fondo);
}

#about-us h3 {
  color: var(--amarillo);
  font-weight: 400;
}

#about-us p {
  color: var(--blanco-texto);
  font-weight: 300;
}

/****************************************
*                                       *
*             Redes sociales            *
*                                       *
*****************************************/

section.redes-sociales {
  background-color: var(--negro-fondo);
}

h2.redes-sociales {
  color: var(--gris);
  font-weight: 300;
  margin-bottom: 3rem;
}

/***************************************
*                                      *
*           Patrocinadores             *
*                                      *
****************************************/

.primer-nivel, .segundo-nivel {
  margin: 1.5rem 0;
}

#patrocinadores {
  background-color: #fff;
}

#patrocinadores img {
  display: block;
  margin: 0.5rem 0;
}

.primer-nivel img {
  width: 30%;
  min-width: 140px;
}

.segundo-nivel img {
  width: 21%;
  min-width: 85px;
}

#logo-tec {
  width: 20%;
  min-width: 95px;
}

/***************************************
*                                      *
*           Areas del equipo           *
*                                      *
****************************************/

.area {
  height: 50vh;
  min-height: 200px;
  background-position: 50% 50%;
  background-size: cover;
  margin: 2rem auto;
  border-radius: 1rem;
  overflow: hidden;
}

.area h3 {
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  padding: 3rem 0 1.5rem;
}

.area div {
  background-color: rgba(4, 0, 0, 0.2);
  max-width: 100%;
  height: 100%;
}

.area p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

#areas {
  background-color: var(--negro-fondo);
  border-top: 0.3rem solid var(--amarillo);
}

#fondo-ingenieria {
  background-image: url(../img/landing-page/NAUTILUS.jpg);
}

#fondo-negocios {
  background-image: url(../img/landing-page/negocios.jpg);
  background-position-y: 40%;
}

#fondo-axm {
  background-image: url(../img/landing-page/axm.jpg);
  background-position-y: 30%;
}

#fondo-comunicacion {
  background-image: url(../img/landing-page/comunicacion.jpeg);
  background-position-y: 45%;
}
#fondo-inclusion {
  background-image: url("../img/landing-page/Inclucion.JPG");
  background-position-y: 60%;
}

#areas h2 {
  font-weight: 300;
  margin: 3rem auto;
}

@media screen and (max-width: 450px) {
  #fondo-comunicacion h3, #fondo-axm h3 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 350px) {
  #fondo-comunicacion h3, #fondo-axm h3 {
    font-size: 2.5rem;
  }
}

/***************************************
*                                      *
*                  FTC                 *
*                                      *
****************************************/

#ftc {
  background-color: var(--negro-fondo);
  border-top: 0.3rem solid var(--amarillo);
}

#ftc * {
  color: #fff;
}

#ftc h2 {
  color: var(--amarillo);
  font-weight: 400;
  text-decoration: underline;
  margin-bottom: 2rem;
}

#ftc p {
  font-weight: 300;
  margin: 2rem auto 1.5rem;
}
*{box-sizing:border-box;}

form{
	padding:aut;
	border-radius:10px;
	background-color:#ccc;
  margin-left:auto; margin-right:0;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="email"]{
  text-align: left;
	width:180px;
  height: 33px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form button[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form button[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;			
	margin:8px 0;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#myButton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.boton {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
/* Estilos para el formulario */
.formulario {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  text-align: left;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
#nombre{
  margin-left: 55px;
}
#email{
  margin-left: 55px;
}
#empresa{
  margin-left: 55px;
}
#mensaje{
  margin-left: 59px;
  width: 200px;
  height: 39px;
  overflow: hidden;
  resize: none;
}
#button{
  color: var(--amarillo);
}
#asunto{
  margin-left: 55px;
  border-radius: 3px;
  width: 179px;
  background-color: #f2f2f2;
}
#otherOptionDiv input{
  margin-left: 145px;
  height: 35px;
  margin-left: 143px;
}
.centre {
  max-width: 1000px;
  background-size: auto;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 10px;
  margin-left: 12px;
}
.slideshow {
  position: relative;
  width: 1000px;
  height: 600px;
  overflow: hidden;
}

.slideshow img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slideshow img:first-child {
  opacity: 1;
}