
/* Fuente para la firma*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,600&display=swap');

:root {
  --blanco-texto: #fafafa;
  --negro-texto: #3d3d3d;
}

* {
  color: var(--negro-texto);
  padding: 0;
  border: none;
  margin: 0;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  font-size: 18px;
}

footer {
  min-height: 50vh;
  padding-top: 2.5rem;
}

header {
  padding: 3rem 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  max-width: 35rem;
  margin: 0 auto;
}

p, a, input, button, li, textarea, select, datalist, td, th {
  font-size: 1rem;
}

p, textarea, li {
  font-weight: 400;
  line-height: 1.5;
  text-align: justify;
  max-width: 35rem;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.35rem;
}

h6, label {
  font-size: 1.2rem;
}

img {
  width: 100%;
}

header, footer, section, nav {
  width: 100%;
}

ol, ul {
  list-style-position: inside;
}

section {
  padding: 5rem 0;
}

textarea {
  resize: none;
}

/*Quitar botones para modificar valor a inputs type numeric*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea, select, datalist, input[type=email], input[type=password], input[type=tel], input[type=text], input[type=date], input[type=number] {
  color: var(--negro-texto);
  background-color: var(--blanco-texto);
  padding: 0.3rem 0.5rem;
  border-radius: 1px;
}

button, .btn {
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}

.centre {
  max-width: 1000px;
  margin: 0 auto;
}

.dark-font {
  color: var(--negro-texto);
}

.error {
  color: #f00;
  font-size: 0.8rem;;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.error {
  color: #f00;
}

.light-font {
  color: var(--blanco-texto);
}

.link {
  font-weight: 500;
  color: #00bfff;
}

.mostrar {
  display: block;
}

.ocultar {
  display: none;
}

.opacar {
  opacity: 0.5;
}

.parrafo {
  line-height: 1.5;
  text-align: justify;
  max-width: 39rem;
  margin-bottom: 1em;
}

.btn:hover {
  opacity: 1;
}

a.firma, span.firma {
  color: #ddd;
}

a.firma {
  font-family: 'Roboto Slab', serif !important;
  font-size: 0.75rem !important;
  display: block !important;
  margin: 0.5rem 0 1rem !important;
}

div.firma {
  justify-content: flex-end !important;
  padding: 0 !important;
}

span.firma {
  font-weight: 600 !important;
}

span#corazon {
  color: #CB0202 !important;
  font-size: 1.2rem !important;
}

@media screen and (max-width: 425px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 1016px) {
  .centre {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 2016px) {
  html {
    font-size: 36px;
  }

  .centre {
    max-width: 2000px;
  }
}
