html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(38,40,45,255);
    overflow-x: hidden;
}

h1{
    position: absolute;
    z-index: 0;
    color: rgba(240, 248, 255, 0);
}


/*Ponencias*/
#Ponencias{
    position: relative;
    display: flex;
}
#Ponencias p, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#Ponencias #title-ponencias{

    position:absolute;
    display: flex;
    z-index: 4;
    color: aliceblue;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 0;
    left: 38vw;
}

/*Section 1*/
#fixed-section1 {
    height: 90vh;
    width: 25vw;
    display: flex;
    position: relative;
}

#fixed-section1::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    width: 25vw;
    position: absolute;
    clip-path: inset(0);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/data_analytics.jpg');
    z-index: 1;
    background-position: -100%, 200%;
}

#fixed-section1::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content1{
    position: relative;
    display: flex;
    z-index: 2;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content1 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content1 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section1:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content1:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content1:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

/*Section2*/
#fixed-section2 {
    height: 90vh;
    width: 25vw;
    display: flex;
    position: relative;
}

#fixed-section2::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    width: 25vw;
    position: absolute;
    clip-path: inset(0);
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/corazones_fuertes.jpg');
    z-index: 1;
    background-position: 28% 50%;
    background-size: contain;
}

#fixed-section2::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content2{
    position: relative;
    display: flex;
    z-index: 2;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content2 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content2 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section2:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content2:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content2:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

/*Section3*/
#fixed-section3 {
    height: 90vh;
    width: 25vw;
    display: flex;
    position: relative;
}

#fixed-section3::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    width: 25vw;
    position: absolute;
    clip-path: inset(0);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/journey_space.webp');
    z-index: 1;
    background-position: 70% 50%;
}

#fixed-section3::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content3{
    position: relative;
    display: flex;
    z-index: 2;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content3 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content3 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section3:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content3:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content3:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

/*Section4*/
#fixed-section4 {
    height: 90vh;
    width: 25vw;
    display: flex;
    position: relative;
}

#fixed-section4::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 90vh;
    width: 25vw;
    position: absolute;
    clip-path: inset(0);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/universo_3_idiomas.jpg');
    z-index: 1;
    background-position: 175% 50%;
}

#fixed-section4::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content4{
    position: relative;
    display: flex;
    z-index: 2;
    height: 90vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content4 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content4 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section4:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 90vh;
    width: 25vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content4:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content4:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}


/*Banner*/
#Banner {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#Banner::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url('/img/Banner.png');
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#Banner::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#Banner #Logo-Grande{
    position: relative;
    width: 45vh;
    z-index: 3;
}

#Banner #menu-bar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 4.5vw;
    z-index: 5;
}

#Banner #menu-bar img{
    width: 20vw;
    height: min-content;
    margin: 1vw;
    margin-top: 1.5vw;
}

#Banner #menu-bar ul{
    display: flex;
    margin-right: 2vw;
    margin-top: 2vw;
}

#Banner #menu-bar li{
    display: inline-block;
    padding-left: 1vw;
}

#Banner #menu-bar a{
    text-decoration: none;
    color: rgb(250, 249, 241);
    font-size: large;
    align-self: right;
}

#Banner #menu-bar #menu-button {
    color: transparent;
    position: fixed;
}

#Banner #menu-bar #menu-button #menu a{
    position: absolute;
    color: transparent;
}

/*Quienes Somos*/
#quienes-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgba(38,40,45,255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(250, 249, 241);
}
#quienes-somos h3{
    font-weight:lighter;
    font-size: xx-large;
    color: #e6d40d;
}

#quienes-somos p{
    max-width: 80%;
    overflow: visible;
    font-weight: lighter;
    font-size: large;
    text-align: center;
}

#quienes-somos ul{
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    width: 100vw;
    margin-top: 5%;
    margin-right: 2.7%;
}

#quienes-somos ul p{
    margin-top: 0;
    max-width: 25vw;
    font-size: medium;
    text-align: center;
}

#quienes-somos li{
    list-style-type:none;
}
#quienes-somos #mision, #vision, #alcance{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quienes-somos #mision-icon, #vision-icon, #alcance-icon{
    width: 10vw;
    height: 10vw;
    background-color: rgb(250, 249, 241);
    border-radius: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

#quienes-somos img{
    width: 5.5vw;
}

#quienes-somos h4{
    font-size: large;
    margin-bottom: 1vh;
    color: #e6d40d;
}

#quienes-somos #unirse{
    display: flex;
    width: 15vw;
    height: 4.5vw;
    border-radius: 20px;
    border: .1vh solid rgb(250, 249, 241);
    align-items: center;
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 4%;
}

#quienes-somos a{
    text-decoration: none;
    color: rgb(250, 249, 241);
}

#quienes-somos #unirse:hover{
    border: .1vh solid #e6d40d;
}

#quienes-somos #unirse:hover a{
    color: #e6d40d;
}

/*Patrocinios*/
#Alianzas{
    height: 30vw;
    width: 100vw;
    background-color: rgb(250, 249, 241);    
    position: relative;
}

#Alianzas #content{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; 
}

#Alianzas #content h2{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 1;
}

#logos {
    width: 100vw;
    height: 35vw;
    overflow: hidden;
    position: absolute;
    display: inline-block;
}

.slides {
    display: flex;
    width: 175vw; /* Multiplica por el número de imágenes */
    height: 100%;
    animation: slide 20s linear infinite;
    align-items: center;
    justify-items: center;
    background-color: transparent;
}

.slides img {
    width: 15vw; /* Cada imagen ocupa el 100% del ancho del viewport */
    height:max-content;
    margin-left: 10vw;
    z-index: 0;
}

/* Animación para mover las imágenes continuamente */
@keyframes slide {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(100%);
    }
}

#logos2 {
    width: 100vw;
    height: 35vw;
    overflow: hidden;
    position: absolute;
    display: inline-block;
}

.slides2 {
    display: flex;
    transform: translateX(-110%);
    width: 175vw; /* Multiplica por el número de imágenes */
    height: 100%;
    animation: slides2 20s linear infinite;
    align-items: center;
    justify-items: center;
    background-color: transparent;
    animation-delay: 10s;
}

.slides2 img {
    width: 15vw; /* Cada imagen ocupa el 100% del ancho del viewport */
    height:max-content;
    margin-left: 10vw;
    flex-shrink: 20vw;
    z-index: 0;
}

/* Animación para mover las imágenes continuamente */
@keyframes slides2 {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translateX(100%);
    }
}

#carrusel {
    height: 35vw;
    width: 100vw;
    display: flex;
    background-color: transparent;
}

/*Footer*/

footer{
    position: relative;
    width: 100vw;
    height: 26vw;
    color: #e6d40d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
}
footer a{
    color: inherit; /* Hereda el color del elemento padre para que no tenga color específico */
    text-decoration: none; /* Quita el subrayado del enlace */
    background: none; /* Quita el fondo si es necesario */
    border: none; /* Quita el borde si es necesario */
}

footer ul{
    list-style-type: none; /* Elimina los puntos de la lista */
            padding: 0; /* Opcional: Elimina el padding predeterminado */
            margin: 2; /* Opcional: Elimina el margen predeterminado */
}

footer #footer-container{
    display: flex;
    justify-content: center;
}

footer #redes-sociales{
    display: flex;
    align-self:flex-end;
}

footer #redes-sociales a img{
    width: 2vw;
}

footer #redes-sociales #youtube{
    width: 2.6vw;
}

footer #opciones-footer{
    display: flex;
    flex-direction: column;
    margin-right: 18vw;

}

footer #opciones-footer li{
    margin: 1.3vh;
}

footer li{
    margin: 1%;
}

footer #right-container{
    position: relative;
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;

}

footer #right-container #columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #right-container #columna li{
    margin-right: 1vw;
}

footer #left-container{
    position: relative;
    display: flex;
    width: 50vw;
    height: max-content;
    justify-content:right;
}

footer #right-container img{

    max-height: 11vw; /* Limita la altura máxima de la imagen */
    width: auto; /* Mantiene la proporción de la imagen */
    
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    object-fit: contain;
}

footer #FIRST{
    position: absolute;
    height: 16vw;
    width: auto;
    top: 20%;
}

footer #line{
    width: 100vw;
    height: 1vh;
    background: #e6d40d;
    position: absolute;
    top: 0;
    left: 0;
}

footer #iconos{
    color: #e6d40d59;
    margin-top: 4vh;
    margin-left: 1vw;
}


/*Responsive*/

@media (max-aspect-ratio: 17/16){
    
    /*Ponencias*/
    #Ponencias{
        flex-direction: column;
    }

    /*Section1*/
    #fixed-section1 {
        height: 25vh;
        width: 100vw;
        display: flex;
        position: relative;
    }

    #fixed-section1::after{
        content: "";
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-attachment: fixed;
        display: flex;
        height: 25vh;
        width: 100vw;
        position: absolute;
        clip-path: inset(0);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        background-image: url('/img/data_analytics.jpg');
        z-index: 1;
    }

    #fixed-section1::before{
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        background-color:  rgba(49, 54, 56, 0);
        height: 25vh;
        width: 100vw;
        z-index: 2;
        transition: all 0.3s ease;
    }

    #fixed-section-content1{
        position: relative;
        display: flex;
        z-index: 2;
        height: 25vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #fixed-section-content1 p {
        max-width: 70%; /* Ajusta el ancho máximo del párrafo */
        margin: 0 auto; /* Centra el párrafo horizontalmente */
        text-align: center; /* Centra el texto dentro del párrafo */
        font-size: large;
        color: rgba(255, 255, 255, 0);
        transition: all 0.3s ease;
    }

    #fixed-section-content1 h3 {
        color: rgba(255, 255, 255, 0);
        transition: all 0.3s ease;
    }

    #fixed-section1:hover:before{
        top: 0;
        left: 0;
        content: "";
        position: absolute;
        background-color:  rgba(49, 54, 56, .7);
        height: 25vh;
        width: 100vw;
        z-index: 2;
        transition: all 0.3s ease;
    }

    #fixed-section-content1:hover p {
        max-width: 70%; /* Ajusta el ancho máximo del párrafo */
        margin: 0 auto; /* Centra el párrafo horizontalmente */
        text-align: center; /* Centra el texto dentro del párrafo */
        font-size: large;
        color: rgba(255, 255, 255, 1);
        transition: all 0.3s ease;
    }

    #fixed-section-content1:hover h3 {
        color: rgba(255, 255, 255, 1);
        transition: all 0.3s ease;
    }

    /*Section2*/
#fixed-section2 {
    height: 25vh;
    width: 100vw;
    display: flex;
    position: relative;
}

#fixed-section2::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 25vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/corazones_fuertes.jpg');
    z-index: 1;
}

#fixed-section2::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content2{
    position: relative;
    display: flex;
    z-index: 2;
    height: 25vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content2 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content2 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section2:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content2:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content2:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

/*Section3*/
#fixed-section3 {
    height: 25vh;
    width: 100vw;
    display: flex;
    position: relative;
}

#fixed-section3::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 25vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/journey_space.webp');
    z-index: 1;
}

#fixed-section3::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content3{
    position: relative;
    display: flex;
    z-index: 2;
    height: 25vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content3 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content3 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section3:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content3:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content3:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

/*Section4*/
#fixed-section4 {
    height: 25vh;
    width: 100vw;
    display: flex;
    position: relative;
}

#fixed-section4::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 25vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-image: url('/img/universo_3_idiomas.jpg');
    z-index: 1;
}

#fixed-section4::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content4{
    position: relative;
    display: flex;
    z-index: 2;
    height: 25vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#fixed-section-content4 p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section-content4 h3 {
    color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease;
}

#fixed-section4:hover:before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, .7);
    height: 25vh;
    width: 100vw;
    z-index: 2;
    transition: all 0.3s ease;
}

#fixed-section-content4:hover p {
    max-width: 70%; /* Ajusta el ancho máximo del párrafo */
    margin: 0 auto; /* Centra el párrafo horizontalmente */
    text-align: center; /* Centra el texto dentro del párrafo */
    font-size: large;
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#fixed-section-content4:hover h3 {
    color: rgba(255, 255, 255, 1);
    transition: all 0.3s ease;
}

#Banner #menu-bar a{
    color: transparent;
}

#Banner #menu-bar img{
    width: 0;
}

#Banner #menu-bar #menu-button{
    content: "";
    background-image: url('/img/iconos/menu.png');
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2vw;
    margin-right: 5vw;
    height: 3vh;
    width: 3vh;
    z-index: 10;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    cursor: pointer;
    transition: transform 0.5s ease;
}

#Banner #menu-bar #menu-button #menu{
    position: absolute;
    left: 12vw;
    width: 40vw;
    background-color: rgba(38,40,45,255);
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    cursor:auto;
}

#Banner #menu-bar #menu-button #menu p{
    font-size: xx-large;
}

#Banner #menu-bar #menu-button #menu ul{
    flex-direction: column;
}

#Banner #menu-bar #menu-button #menu li{
    margin-bottom: 2.5vh;
    margin-left: 1vw;
}

#Banner #menu-bar #menu-button #menu #location{
    margin-left: 0vw;
    margin-bottom: 0vh;
    color:#e6d40d;
}

#Banner #menu-bar #menu-button #menu a{
    color: rgb(250, 249, 241);
    font-size: x-large;
}

}