html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(38,40,45,255);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    position: absolute;
    z-index: 0;
    color: rgba(240, 248, 255, 0);
}

/*Sections*/
.section {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    height:90vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.section::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

.section .section-content {
    background-color: aliceblue;
    width: 40.5vw;
    height: 46vh;
    z-index: 1;
    transition: transform 0.5s;
}

.section .section-content h4{
    font-size: xxx-large;
    max-width: 40vw;
    margin-left: 4vw;
    margin-bottom: 0;
}

.section .section-content p{
    font-size: xx-large;
    max-width: 30vw;
    margin-left: 4vw;
}

/*Banner*/
#Banner {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#Banner::after{
    content: "";
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-image: url('/img/nautiwater/water-droplets-on-green.webp');
    display: flex;
    height: 100vh;
    width: 100vw;
    position: absolute;
    clip-path: inset(0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#Banner::before{
    top: 0;
    left: 0;
    content: "";
    position: absolute;
    background-color:  rgba(49, 54, 56, 0.7);
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#Banner #Logo-Grande{
    position: relative;
    width: 45vh;
    z-index: 3;
}

#Banner #menu-bar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100vw;
    height: 4.5vw;
    z-index: 5;
}

#Banner #menu-bar img{
    width: 20vw;
    height: min-content;
    margin: 1vw;
    margin-top: 1.5vw;
}

#Banner #menu-bar ul{
    display: flex;
    margin-right: 2vw;
    margin-top: 2vw;
}

#Banner #menu-bar li{
    display: inline-block;
    padding-left: 1vw;
}

#Banner #menu-bar a{
    text-decoration: none;
    color: rgb(250, 249, 241);
    font-size: large;
    align-self: right;
}

#Banner #menu-bar #menu-button {
    color: transparent;
    position: fixed;
}

#Banner #menu-bar #menu-button #menu a{
    position: absolute;
    color: transparent;
}

/*Section 1*/
#section-1 {
    align-items: center;
    justify-content:end;
}

#section-1::after {
    background-image: url('/img/nautiwater/01.webp');
}

/*Section 2*/

#section-2 {
    align-items: center;
    justify-content:start;
}

#section-2::after {
    background-image: url('/img/nautiwater/02.webp');
}

#section-2 .section-content p{
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 4vw;
}

/*Footer*/

footer{
    position: relative;
    width: 100vw;
    height: 26vw;
    color: #e6d40d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
}
footer a{
    color: inherit; /* Hereda el color del elemento padre para que no tenga color específico */
    text-decoration: none; /* Quita el subrayado del enlace */
    background: none; /* Quita el fondo si es necesario */
    border: none; /* Quita el borde si es necesario */
}

footer ul{
    list-style-type: none; /* Elimina los puntos de la lista */
            padding: 0; /* Opcional: Elimina el padding predeterminado */
            margin: 2; /* Opcional: Elimina el margen predeterminado */
}

footer #footer-container{
    display: flex;
    justify-content: center;
}

footer #redes-sociales{
    display: flex;
    align-self:flex-end;
}

footer #redes-sociales a img{
    width: 2vw;
}

footer #redes-sociales #youtube{
    width: 2.6vw;
}

footer #opciones-footer{
    display: flex;
    flex-direction: column;
    margin-right: 18vw;

}

footer #opciones-footer li{
    margin: 1.3vh;
}

footer li{
    margin: 1%;
}

footer #right-container{
    position: relative;
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;

}

footer #right-container #columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer #right-container #columna li{
    margin-right: 1vw;
}

footer #left-container{
    position: relative;
    display: flex;
    width: 50vw;
    height: max-content;
    justify-content:right;
}

footer #right-container img{

    max-height: 11vw; /* Limita la altura máxima de la imagen */
    width: auto; /* Mantiene la proporción de la imagen */
    
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    object-fit: contain;
}

footer #FIRST{
    position: absolute;
    height: 16vw;
    width: auto;
    top: 20%;
}

footer #line{
    width: 100vw;
    height: 1vh;
    background: #e6d40d;
    position: absolute;
    top: 0;
    left: 0;
}

footer #iconos{
    color: #e6d40d59;
    margin-top: 4vh;
    margin-left: 1vw;
}



/*Responsive*/

@media (max-aspect-ratio: 17/16){
    .section .section-content {
        background-color: aliceblue;
        width: 100vw;
        height: 46vh;
        z-index: 1;
        transition: transform 0.5s;
    }

    .section .section-content h4{
        font-size: xx-large;
        max-width: 90vw;
        margin-left: 4vw;
        margin-bottom: 0;
        text-align: center;
    }

    .section .section-content p{
        font-size: xx-large;
        max-width: 90vw;
        margin-left: 4vw;
        text-align: center;
    }

    #section-2 .section-content p{
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 6vh;
    }

    #Banner #menu-bar img{
    width: 20vh;
    height: min-content;
    margin: 1vw;
    margin-top: 1.5vw;
}
}