/****************************************
*                                       *
*                Header                 *
*                                       *
*****************************************/

header {
  height: 80vh;
  max-height: 100vw;
  background-image: url(../img/history/girl-stem.jpg);
  background-size: cover;
  background-position: 55% 80%;
}

header h1 {
  color: var(--blanco-texto);
  font-size: 5rem;
  font-weight: 400;
  max-width: 100%;
}

header div {
  height: 100%;
}

#link-history {
  text-decoration: underline;
}

@media screen and (max-width: 930px) {
  header h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 470px) {
  header h1 {
    align-self: start;
  }
}

@media screen and (max-width: 380px) {
  header h1 {
    align-self: flex-end;
  }
}

/****************************************
*                                       *
*                Awards                 *
*                                       *
*****************************************/

.descripcion-premio {
  width: 29%;
  min-width: 290px;
  margin: 1rem;
}

#premios {
  background-image: url(../img/history/chairman-power-up.jpg);
  background-size: cover;
  background-position: 50% 0;
}

#descripcion-premios {
  background-color: rgba(4, 0, 0, 0.5);
  /*background-color: rgba(181, 181, 180, 0.5);
  background-color: rgba(255, 255, 255, 0.5);*/
  padding: 2rem 0;
  align-items: start;
}

#premios h2 {
  color: var(--negro);
  font-weight: 300;
  margin-bottom: 3rem
}

#premios h3 {
  color: var(--gris);
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
}

#premios p {
  color: var(--blanco-texto);
  font-weight: 300;
}

/***************************************
*                                      *
*           Patrocinadores             *
*                                      *
****************************************/

.primer-nivel, .segundo-nivel {
  margin: 1.5rem 0;
}

#patrocinadores {
  background-color: #fff;
}

#patrocinadores img {
  display: block;
  margin: 0.5rem 0;
}

.primer-nivel img {
  width: 30%;
  min-width: 140px;
}

.segundo-nivel img {
  width: 21%;
  min-width: 85px;
}

#logo-tec {
  width: 20%;
  min-width: 95px;
}

/***************************************
*                                      *
*                  FTC                 *
*                                      *
****************************************/

#ftc {
  background-color: var(--negro-fondo);
}

#ftc * {
  color: #fff;
}

#ftc h2 {
  font-weight: 400;
  margin-bottom: 2rem;
}

#ftc p {
  font-weight: 300;
  margin: 2rem auto 1.5rem;
}

#ftc .flexbox {
  align-items: stretch;
  margin-bottom: 2rem;
}

a.link-ftc {
  background-color: var(--blanco-texto);
  display: block;
  box-sizing: border-box;
  width: 30%;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  opacity: 0.5;
}

a.link-ftc:hover {
  opacity: 1;
}

span.hardlus {
  color: #c00000 !important;
}

span.naubots {
  color: #f07439 !important;
}